---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- statefulset.yml
- service.yml

commonAnnotations:
  app.kubernetes.io/name: kinesis
  app.kubernetes.io/component: stream
  app.kubernetes.io/managed-by: kustomizer

images:
- name: kinesis
  newName: docker.io/saidsef/aws-kinesis-local
  newTag: latest
